/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
/** {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  make transparent link selection, adjust last value opacity 0 to 1.0 
}*/


* { padding: 0; 
    margin: 0;
    /*background-color: black;*/
}



html{
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
            background-color: #7bbb77;
}

body {
    /* -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    /* -webkit-text-size-adjust: none;             prevent webkit from resizing text to fit */
    /* -webkit-user-select: none;                  prevent copy paste, to allow, change 'none' to 'text' */ 
    /*background-color:#E4E4E4;*/
    /*background-image:linear-gradient(to bottom, #A7A7A7 0%, #E4E4E4 51%);*/
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    /*height:100vh;*/
    /*height: 100%;*/
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    /* padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px); */
    /*text-transform:uppercase;*/
    width:100%;
    height: 100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

#deviceready.ready .event.listening { display: none; }
#deviceready.ready .event.received { display: block; }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image:linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

#playGround{
    /* display: flex;
    flex-direction: column; */
    display: block;
}

#scoreBoard{
    z-index: 5;
    position: fixed;
    background-color: #7bbb77;
    color: black;
    display: flex;
    flex-direction: row;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 15px;
    width: 100%;
}

#scoreBoard div{
    flex:1;
}

canvas { 

    background: #eee;
  
 margin: 0 auto;
  width: 100%;height: 100%;
  touch-action: manipulation; }

.startPopup{
    z-index: 2;
    width:100%;
    /*margin-left: 25%;
    margin-top: 55%;*/
    /*background-color: rgb(2 129 136 / 43%);*/
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    position: absolute;

    /*border: solid rgb(50 206 203) 0.2px;*/
}

.startPopup h2{
font-family: monospace;
    color: black;
    margin-top: 50%;
    background-color: rgb(2 129 136 / 0%);
    font-size: 36px;
}

.startPopup p{
    color: black;
    /*margin-top: 10%;*/
    background-color: rgb(2 129 136 / 0%);
    padding: 10%;
}

.startButton{
    padding: 10px 40px 10px 40px;
    background-color: hsl(134deg 100% 74%);
    box-shadow: 2px;
    border-radius: 5px;

}

.startDescription{
 font-size:16px;   
}

.backgroundDiv{
    background-color: black;
}

#popup{
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 45%;
    /* width: 50%; */
    /* height: 10%; */
    overflow: auto;
    /* background-color: white; */
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    display: none;
    color: white;
}

.desktopPopup{
    width: 100%;
    padding-top: 25%;
    margin: 0px;
    z-index: 3;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    background-color: black;
    color: white;
    position: absolute;
    height: 118%;
    display: none;
}

@media screen and (min-aspect-ratio: 1/1) {
    .desktopPopup{
        display: block;
    }
}

.controller{
  position: fixed;
z-index: 5;
left: 0%;
top: 70%;
width: 100%;
height:10%;
/* overflow: auto; */
 text-align: center ; font-size: 20px;
font-family: monospace ; display: flex;  
flex-direction:row;
align-items:center;
justify-content: space-around;
display: none;
padding: 0px 0px 10px 0px;
overflow: clip;
}

.con-left{
    /* height:100%; */
    flex:2;
    width: 100%;
    background-color: #7bbb77;
    /* border-top-right-radius:30%;
    border-bottom-right-radius:30%; */
    align-items:center;
    justify-content: space-around;
    opacity: 40%;
}

.con-space{
    flex:6;
}

.con-right{
    /* border-bottom-left-radius:30%;
 border-top-left-radius:30%; */
    width:100%;
    flex:2;
    background-color: #7bbb77;
    align-items:center;
    justify-content: space-around;
    opacity: 40%;
}


.right-arr, .left-arr{
    height:100%;
    width:100%;
    opacity: 100% !important;
}

.ctrl-row{
z-index: 5;
width: 100%;
flex:1;
overflow: auto;
 text-align: center ; font-size: 20px;
font-family: monospace ; display: flex;  
flex-direction: row;
align-items:center;
justify-content: space-around;

}

.ctrl-column{
    z-index: 5;
    height: 100%;
    flex:1;
    overflow: auto;
     text-align: center ; font-size: 20px;
    font-family: monospace ; display: flex;  
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    
    }
    
.con-space-column{
    flex: 4;
}

#left-move-button{
    box-shadow: 4px 8px 3px 3px #00640057;
}

/* #left-move-button:active:focus {
    transform: scale(1.2, 1.2);
    box-shadow: 0px 0px 0px 0px #00640057;
  } */

#right-move-button{
    box-shadow: -4px 8px 3px 3px #00640057;
}

/* #right-move-button:active:focus {
    transform: scale(1.2, 1.2);
    box-shadow: 0px 0px 0px 0px #00640057;
  } */

.restartButton{
    padding: 10px 40px 10px 40px;
background-color: hsl(134deg 100% 74%);
box-shadow: 2px;
border-radius: 5px;
}

.restart-popup{
    position: fixed;
    z-index: 5;
    left: 0%;
    top: 40%;
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    display: none;
}

.restart-popup h1{
    margin:10%;
}

.restart-popup h3{
    margin:10%;
}